# Terraform
terraform/**/*.tfvars
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/.terraform.lock.hcl

# Secrets
.env
*.pem
*.key
**/secrets/

# Ansible
ansible/*.retry

# OS
.DS_Store
