# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/.terraform.lock.hcl

# Secrets
.env
*.pem
*.key
**/secrets/
age-key.txt

# Ansible
ansible/*.retry

# OS
.DS_Store
terraform/proxmox/.terraform.tfstate.lock.info

# Claude setings
.claude/settings.local.json

