RESTIC_PHOTOS_PASSPHRASE={{ RESTIC_PHOTOS_PASSPHRASE }}
RESTIC_VIDEOS_PASSPHRASE={{ RESTIC_VIDEOS_PASSPHRASE }}
HETZNER_SFTP_USER={{ HETZNER_SFTP_USER }}
HETZNER_SFTP_HOST={{ HETZNER_SFTP_HOST }}
HEALTHCHECKS_PHOTOS_URL={{ HEALTHCHECKS_PHOTOS_URL }}
HEALTHCHECKS_VIDEOS_URL={{ HEALTHCHECKS_VIDEOS_URL }}
