BORG_PHOTOS_PASSPHRASE={{ BORG_PHOTOS_PASSPHRASE }}
BORG_VIDEOS_PASSPHRASE={{ BORG_VIDEOS_PASSPHRASE }}
HETZNER_BORGBACKUP_USER={{ HETZNER_BORGBACKUP_USER }}
HETZNER_BORGBACKUP_HOST={{ HETZNER_BORGBACKUP_HOST }}
HEALTHCHECKS_PHOTOS_URL={{ HEALTHCHECKS_PHOTOS_URL }}
HEALTHCHECKS_VIDEOS_URL={{ HEALTHCHECKS_VIDEOS_URL }}
